/* HomePage CSS */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
    background-color: #007BFF;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
